@import url(https://fonts.googleapis.com/css?family=Questrial:regular);
@import url(https://fonts.googleapis.com/css?family=Instrument+Serif:regular,italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

html, body {
    font-family: 'Inter', sans-serif;
}

.quest {
    font-family: 'Instrument Serif'!important;
}

.press-effect:active {
    transform: translateY(2px);
    transition: .4s;
}

.text-white {
    color: #fff!important;
}

.pace {
	-webkit-pointer-events: none;
	pointer-events: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background: #22c55e;
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 2px;
}

.loader-svg {
	width: 3.25em;
	transform-origin: center;
	animation: rotate4 2s linear infinite;
}
   
.loader-circle {
	fill: none;
	stroke: hsl(214, 97%, 59%);
	stroke-width: 2;
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	stroke-linecap: round;
	animation: dash4 1.5s ease-in-out infinite;
}
   
@keyframes rotate4 {
	100% {
	 transform: rotate(360deg);
	}
}
   
@keyframes dash4 {
	0% {
	 stroke-dasharray: 1, 200;
	 stroke-dashoffset: 0;
	}
   
	50% {
	 stroke-dasharray: 90, 200;
	 stroke-dashoffset: -35px;
	}
   
	100% {
	 stroke-dashoffset: -125px;
	}
}

.offline-ui {
	display: none;
	position: fixed;
	inset: 0;
	z-index: 50;
	background-color: rgba(31, 41, 55, 0.9); /* Tailwind gray-800 + opacity */
	color: white;
	text-align: center;
	padding: 20px;
	transition: opacity 0.5s ease-in-out;
}

.offline-ui.up {
	display: none;
}

.offline-ui.down {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 1;
}