<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="{$APP_NAME} Dashboard">
      <link rel="stylesheet" href="{$ROOT_URL}css/style.css" media="all">
      <link rel="stylesheet" href="{$ROOT_URL}css/output.css" media="all">
      <!-- Title -->
      <title>{$APP_NAME} - Student's portal</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="../../favicon.ico">
      <link rel="stylesheet" href="https://preline.co/assets/css/main.min.css">
   </head>
   <body class="bg-gray-50 ">
      <!-- ========== HEADER ========== -->
      <header class="sticky top-0 inset-x-0 flex flex-wrap md:justify-start md:flex-nowrap z-[48] w-full bg-white border-b text-sm py-2.5 lg:ps-[260px]  ">
         <nav class="px-4 sm:px-6 flex basis-full items-center w-full mx-auto">
            <div class="me-5 lg:me-0 lg:hidden">
               <!-- Logo -->
               <a class="flex-none rounded-md text-xl inline-block font-semibold focus:outline-none focus:opacity-80" href="#" aria-label="Preline">
               {$APP_NAME}
               </a>
               <!-- todo: сделать как в сайдбаре -->
               <!-- End Logo -->
            </div>
            <div class="w-full flex items-center justify-end ms-auto md:justify-between gap-x-1 md:gap-x-3">

            </div>
            <div class="flex flex-row items-center justify-end gap-1">
            </div>
            </div>
         </nav>
      </header>
      <!-- ========== END HEADER ========== -->